* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    }
    ul{
        margin-left: 0;
        list-style: none;
    }
    li {
        list-style: none;
        margin-left: 0;
    }
h1 {font-size: 1.250em ; color: #DB1A0A;font-weight: bold;} /*20px*/
h2 {font-size: 1.125em; font-weight: bold;} /*18px*/
h3 {font-size: .938em;font-weight:bold } /*15px*/
h4 {font-size: .750em}/*12px*/
h5 { font-size: 0.625em;}/*10px*/

body {
    position: relative;
}

 .rulre0 {
    width: 50%;
    height: 280px;
    position: absolute;
    border: red solid 1px;
    top: 280px;
    right: 0; 
}/*
.rulre1 {
    width: 200px;
    height: 140px;
    position: absolute;
    border: rgb(0, 8, 255) solid 1px;
    top: 0;
    right: 0;
}
.rulre2 {
    width: 340px;
    height: 140px;
    position: absolute;
    border: rgb(255, 0, 179) solid 1px;
    top: 140px;
    left: 10px;
}  */
/* ------------------------------------------------------------------------------ */
header {
    height: 8.8vh;
    border-bottom: solid 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1vh;
    text-align: center;
}
.hambuger img {
    width: 70%;
}
.search-menu img{
    width: 58%;
}
.search-option {
    margin-top: 1px;
    border-bottom: 1px solid ;
}
.wrap{
    padding:.2em .7em ;
    display: flex;
    flex-flow:row wrap ;
}
.menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.menu li {
    text-align: center;
    width:50% ;
    height: 8vw;
    border-bottom: 1px solid;
    box-sizing: border-box;
}
section{
    width: 100%;
}
.news{
    width: 100%;
}
.recommend{
    display: flex;
    justify-content: space-between;
    padding:1.1vw 0 .5vw;
}
.time-recommend{
    display: flex;
    padding:1.1vw 0 .5vw;
    margin-bottom: .8vw;
}
.time-recommend li:first-child {
    padding:0 .5em 0 0 ;
    border-right: 1px solid;
}
.time-recommend li:last-child {
    padding:0  0   0 .5em ;
    border-left: 1px solid;
}
.news-image {
    width: 100%;
    overflow: hidden;
    height: 39.3vw;
    margin-bottom: .1em;
}
.news-image img{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%)
}
.news-ident{
    display: flex;
    flex-flow: column;
}
.news-ident img{
    width: 1em;
    height: 1em;
}
.news-ident-name{
    display: flex;
    flex-flow: row;
justify-content: flex-start;
padding: .1em 0 0 1em;
}
.news-ident-name .news-time{
   margin-left: auto;
   
}
.news-ident-hash-tag{
    display: flex;
    flex-flow: row;
    padding: .3em 0 0 0;
}