* {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    font-size: 13px;
}

.hide {
    border-bottom: 1px solid;
}

li {
    font-size: 13px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 6px;
}

body {
    background-color: gray;
}

#wrap {
    width: 360px;
    height: 640px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;

}

header {
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border-bottom: 4px solid #000000;
    align-items: center;
}

header img {
    width: 24px;
    height: 24px;
}

.logo {
    position: relative;
    top: -20%;
    width: 117px;
}

header h1 {
    font-size: 20px;
    color: #DB1A0A;
}

.hide {
    padding: 0 10px;
}

header .logo span {
    font-size: 10px;
    position: absolute;
}

.search-option {
    height: 185px;


}

.search-option h4 {
    padding-top: 11px;
}

.list-wrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 84px;
    margin-top: 5px;
}

.list-wrap li {
    width: 168px;
    height: 20px;
}

.searched-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 8px;
}

.news-image {
    width: 340px;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.news-image img {
    width: 100%;
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%, -50%) ;
}

section {
    padding: 0 10px;
}

section .menu {
    display: flex;
    flex-direction: row;
}

section .menu span {
    width: 50%;
    height: 33px;
    border-bottom: 1px solid;
    text-align: center;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 15px;
    line-height: 38px;
}
.news-ident{
    line-height: 10px;
}